<!DOCTYPE html>
<html>
  <head>
    <title>PrivilegeTest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <a href="<%= root_url %>">Main Menu</a>
    <% if user_signed_in? %>
      <% session[:filtered_menus].each do |menu| %>
        <a href="<%= root_url %><%= menu["name"] %>"><%= menu["display_name"] %><a>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
